.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #78c2ad;
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar .nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar .nav .nav-link {
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

.navbar .nav .nav-link:hover {
    color: #ddd;
}

.navbar .btn-logout {
    background-color: rgb(203, 140, 140);
    color: white;
    border: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.navbar .btn-logout:hover {
    background-color: darkred;
}